@font-face {
    font-family: satisfy;
    src: url('../webfonts/satisfy.woff2') format('woff2'),
        url('../webfonts/satisfy.woff') format('woff'),
        url('../webfonts/satisfy.ttf') format('ttf');
    font-display: swap;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    padding: 0 20px;
}
main header.container{
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
    position: fixed;
    top:0px;
    right:0;
    width:100%;
}
.logo{
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 1.6rem;
}
.logo img{
    width:50px;
    margin-right: 10px;
}
.logo h2{
    color: #7AB72C;
    font-family: satisfy;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.1em;
    align-self: flex-end;
}
nav{
    background-color: #000;
    width: 100%;
    padding-top:50px;
}
nav a{
    display: block;
    text-decoration: none;
    padding:10px;
    margin-bottom: 20px;
    color: #8E8C8D;
    text-transform: capitalize;
    font-family: satisfy;
    font-size: 1.2rem;
    border-bottom: 1px solid #8E8C8D;
}
nav a.active{
    color: #fff;
    border-bottom-color: #fff;
}
header input{
    display: none;
}
label{
    color:#8E8C8D;
    font-size: 1.4rem;
    cursor: pointer;
    width:10%;
    text-align: right;
}
input+nav{
    display: none;
}
input:checked+nav{
    display: block;
}
@media(min-width:992px) {
    .container{
        width: 100%;
        padding: 0 80px;
    }
    main header.container{
        padding-top:24px;
        padding-bottom: 24px;
        flex-wrap: nowrap;
    }
    input+nav{
        display: inline;
    }
    label{
        display: none;
    }
    nav{
        padding-top:0;
        padding-right: 0;
        width:70%;
        text-align: right;
    }
    .logo{
        width:30%
    }
    nav a{
        display: inline-block;
        border-bottom: none;
        margin-bottom: 0;
        margin-left: 26px;
    }
    nav a:hover{
        color: #fff;
    }
}

main div.container{
    background:linear-gradient(rgb(0, 0, 0, .3), rgb(0, 0, 0, .3)), url('../img/Banner-1.jpg') no-repeat top center/cover ;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}
main div.container h1{
    font-family: satisfy;
    font-size: 3.2rem;
    text-transform: capitalize;
    font-weight: 300;
}
main div.container h2{
    font-family: satisfy;
    font-size: 1.8rem;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 300;
}
main div.container p{
    color: #fff;
    text-align: justify;
    margin-bottom: 40px;
    line-height: 1.6;
}
main div.container div a{
    display: inline-block;
    text-decoration: none;
    padding:14px 30px;
    color: #7AB72C;
    text-transform: capitalize;
    font-style: italic;
    background-color: #fff;
    border-radius: 25px;
    margin: 5px;
    margin-left: 0;
}
main div.container div a i{
    margin-right: 10px;
}
@media(min-width:992px){
    main{
        margin-top: 100px;
    }
    main div.container{
        margin-top: 0;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    main div.container h1{
        font-size: 5rem;
    }
    main div.container h2{
        font-size: 2.4rem;
    }
    main div.container p{
        width:44%;
        margin-bottom: 70px;
    }
    main div.container div a{
        display: inline-block;
        padding:18px 54px 20px;
        border-radius: 30px;
        
    }
}


.header-green{
    border-left: 5px solid #7AB72C;
    padding-left: 40px;
}
.header-green h3{
    color: #7AB72C;
    text-transform: uppercase;
    font-size: 1.02rem;
}
.header-green h2{
    color: #000;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 5px
}
@media (min-width: 992px){
    .header-green h2{
        font-size: 2rem;
    }
}
